<% obj.each do |article| %>
  
    <h2> <%= link_to article.title, article_path(article) %> </h2> <!-- Title becomes a link -->
    <p> <%= truncate(article.description, length: 100) %> </p> <!-- truncate method will shorten the description length -->
    
    <div>
      <!-- time_ago_in_words() method will return time in a user friendly format -->
      <span class="badge">Created by: <%= article.user.username.capitalize if article.user %> <%= time_ago_in_words(article.created_at) %> ago</span>
      <span class="badge">Last updated: <%= time_ago_in_words(article.updated_at) %> ago</span>
      
      <div class="pull-right article-actions">
        <%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-info" %>
        <%= link_to "Delete",article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete the article?" }, class: "btn btn-xs btn-danger" %>
      </div>         
    </div>
    <hr>
  
<% end %>