<section class="list articles">
  <div class="container">
    <div class="col-md-12">
      <h1 class="title">Listing all articles</h1>
    <div>
    <br>
    
    <% @articles.each do |article| %>
    
      <div class="col-md-10 col-md-offset-1">
        <h2> <%= link_to article.title, article_path(article) %> </h2> <!-- Title becomes a link -->
        <p> <%= truncate(article.description, length: 100) %> </p> <!-- truncate method will shorten the description length -->
        <div>
          <span class="badge">Posted on <%= article.created_at.strftime("%m/%d/%Y") %></span>
          <div class="pull-right article-actions">
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-info" %>
            <%= link_to "Delete",article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete the article?" }, class: "btn btn-xs btn-danger" %>
          </div>         
        </div>
        <hr>
      </div>
      
      <div class="article-actions">
          
          
          
        </div>
      
    <% end %>
          
  </div> <!-- /.container -->
</section>