<section class="blog-wrapper">
  <div class="container">
    <h2>View <b>Article</b></h2>
    
    <div class="row-page row">
      
      <div class="view-article">
        
        <div class="col-md-10 col-md-offset-1">
    
          <div class="wrapper">
            
            <h3> <%= @article.title %> 
              <% if @article.user %> <!-- if '@article.user' exists -->
                <br><span class="by">by <%= link_to @article.user.username, user_path(@article.user) %></span>
              <% end %>
            </h3>
            
            <div class="description">
              <!-- simple_format() method will display returns/breaks in the same way that was edited -->
              <%= simple_format(@article.description) %>
            </div>
            
            <div class="categories">
              <!-- Display if article has category(ies) -->
              <% if @article.categories.any? %>
                <p><%= render @article.categories %></p>
              <% end %>
            </div>
          
            <div class="info">
              <p>
                Posted on <b><%= @article.created_at.strftime("%m/%d/%Y") %></b>.
                Updated on <b><%= @article.updated_at.strftime("%m/%d/%Y") %></b>.
              </p>
            </div>
            
          </div> <!-- /.wrapper -->
          
          <div class="article-action btn-group btn-group-justified">
            <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
              <%= link_to "Edit", edit_article_path(@article), class: "btn btn-lg btn-info" %>
              <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete the article?" }, class: "btn btn-lg btn-primary" %>
            <% end %>
            <%= link_to "View All Articles", articles_path, class: "btn btn-lg btn-success" %>
          </div> 
        
        </div> <!-- /.col-md-10 -->
        
      </div> <!-- /.view-article -->
        
    </div> <!-- /.row-page -->

  </div> <!-- /.container -->
</section>