<section class="show articles">
  <div class="container">
    <div class="col-md-12">
      <h1 class="title text-primary">View Article</h1>
    <div>
    
    <div class="col-md-10 col-md-offset-1">
      <h2> <%= @article.title %> 
        <% if @article.user %> <!-- if '@article.user' exists -->
          <small>by <%= link_to @article.user.username, user_path(@article.user) %></small>
        <% end %>
      </h2>
      
      <!-- simple_format() method will display returns/breaks in the same way that was edited -->
      <%= simple_format(@article.description) %>
      <div class="more-info">
        <span class="badge">Posted on <%= @article.created_at.strftime("%m/%d/%Y") %></span>
        <span class="badge">Updated on <%= @article.updated_at.strftime("%m/%d/%Y") %></span>
        
        
        <div class="pull-right article-actions">
          
          <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-info" %>
            <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete the article?" }, class: "btn btn-xs btn-danger" %>
          <% end %>
          
          <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>
        </div>     
        
      </div>
      <hr>
    </div>
      
  </div> <!-- /.container -->
</section>