<section class="blog-wrapper">
  <div class="container">
    
    <div class="row-page row">
      
      <div class="user-profile">
    
        <div class="col-md-12">
          <div class="col-md-12">
           <div class="profile-box">
      				<center><%= gravatar_for @user %></center> <!-- Gravatar -->
      				<h2><%= @user.username %>'s <b>Profile</b></h2>
    					<a href="mailto:<%= @user.email %>"> <%= @user.email %> </a>
            </div>
          </div>
        </div>
        
        <div class="col-md-12">
          <!-- If user has any articles, then render '_article.html.erb', otherwise render '_noarticle.html.erb' -->
          <%= render(@user.articles.any? ? 'articles/article' : 'articles/noarticle' , obj: @user_articles) %>
          
          <div class="paginate">
            <%= will_paginate @user_articles %> <!-- created within show method [users_controller.rb] -->
          </div> <!-- /.paginate -->
        </div>
    
      </div> <!-- /.user-profile -->
        
    </div> <!-- /.row-page -->

  </div> <!-- /.container -->
</section>