<section class="profile users">
  <div class="container">
    <div class="col-md-12">
      <h1 class="title"> <%= @user.username %>'s Articles </h1>
    </div>
    <div class="col-md-3">
      <div class="profile-sidebar">
				<!-- Gravatar -->
				<div class="profile-userpic">
				  <%= gravatar_for @user %>
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= @user.username %>
					</div>
					<a href="mailto:<%= @user.email %>"><%= @user.email %></a>
				</div>
			</div>
    </div>
    <div class="col-md-9">
      
      <!-- If user has any articles, then render '_article.html.erb', otherwise render '_noarticle.html.erb' -->
      <%= render(@user.articles.any? ? 'articles/article' : 'articles/noarticle' , obj: @user_articles) %>
      
      <div class="paginate">
        <%= will_paginate @user_articles %> <!-- created within show method [users_controller.rb] -->
      </div>
      
    </div>
  </div>
</section>