<section class="blog-wrapper">
  <div class="container">
    <h2>Category <b><%= @category.name %></b></h2>
    <!-- if logged in and user is Admin -->
    <% if logged_in? and current_user.admin? %>
      <p class="text-center" style="margin-top: -20px;">[<%= link_to "Edit Category Name", edit_category_path(@category) %>]</p>
      <br>
    <% end %>
    
    <div class="row-page row">
      
      <div class="page-nav col-md-12">
        <center><%= will_paginate @category_articles %></center>
      </div>
      
      <%= render 'articles/article', obj: @category_articles %> <!-- Render Articles list from [articles/_article.html.erb] -->
      
      <div class="page-nav col-md-12">
        <center><%= will_paginate @category_articles %></center>
      </div>
      
    </div>
    
  </div>
</section>