<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<!-- Include partial for navigation -->
<%= render 'layouts/navigation' %>
  
<!-- Include partial for messages -->
<%= render 'layouts/messages' %>

<%= yield %>

<!-- Include partial for footer -->
<%= render 'layouts/footer' %>

<!-- Disply Debug Params if Rails is in development -->
<%= debug(params) if Rails.env.development? %>

</body>
</html>
